.card-img {
    width: 9vw;
    min-width: 250px;
    height: 10vw;
    min-height: 500px;
    object-fit: contain;
    margin-left: 2vw;
}

.tutorname{
    text-align: center;
 
}

.tutornation{
   margin-top: 1vw;
   text-align: center;
}